@model Entities
@{
    ViewData["Title"] = "Delete SubCategory";
}

<div>

    <form asp-controller="Category" asp-action="DeleteSubCategory">

        @if (Model.SubCategories.Count() > 0)
        {
            <p>Wich SubCategory do you want to Delete?</p>
            <br />
            @foreach (var item in Model.SubCategories)
            {
                <h5>@item.Name <button asp-route-id="@item.Id" class="btn btn-primary" style="background-color:red; margin-left: 1rem;">Delete</button></h5>
            }
        }
    </form>

</div>