@model Views
@{
    ViewData["Title"] = "Delete Category";
}

<div>
    <form asp-controller="Category" asp-action="DeleteCategory">

        @if (Model.Categories.Count() > 0)
        {
            <p>Wich Category do you want to Delete?</p>
            <br />
            @foreach (var item in Model.Categories)
            {
                <p>@item.Name <button asp-route-id="@item.Id">Delete</button></p>
            }
        }
    </form>

</div>