@model Entities
@{
    ViewData["Title"] = "Delete SubCategory";
}

<div>

    <form asp-controller="Category" asp-action="DeleteSubCategory">

        @if (Model.SubCategories.Count() > 0)
        {
            <p>Wich SubCategory do you want to Delete?</p>
            <br />
            @foreach (var item in Model.SubCategories)
            {
                <p>@item.Name <button asp-route-id="@item.Id">Delete</button></p>
            }
        }
    </form>

</div>