@model Entities
@{
    ViewData["Title"] = "Delete Category";
}

<div>
    <form asp-controller="Category" asp-action="DeleteCategory">

        @if (Model.Categories.Count() > 0)
        {
            <p>Wich Category do you want to Delete?</p>
            <br />
            @foreach (var item in Model.Categories)
            {
                <h5>@item.Name <button asp-route-id="@item.Id" class="btn btn-primary" style="background-color:red; margin-left: 1rem;">Delete</button></h5>
            }
        }
    </form>

</div>