@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>

@* HÄR SKALL SENASTE INLÄGGEN HAMNA *@
<div class="recent-post-pinned">
    <div class="recent-post-pinned-header">
        <h3>Recent Posts:</h3>
    </div>
    <div>
        <ul>
        </ul>
    </div>
</div>
