@model Post
@{
    ViewData["Title"] = "Delete Post";
}

<div>    
    <form asp-controller="Post" asp-action="DeletePost">

        @* <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <div asp-validation-summary="All" class="text-danger" style="margin-top: 1rem;">
            <button type="submit">Create</button>
        </div> *@
    </form>

</div>