@model Post
@{
    ViewData["Title"] = "Create Post";

}

<div>
    <form asp-controller="Post" asp-action="CreatePost">

        <input type="hidden" asp-for="SubCategoryId" />
        <input type="hidden" asp-for="MemberId" />

        <label asp-for="Description"></label><br />
        <input type="text" asp-for="Description" style="width: 20rem; " />
        <span asp-validation-for="Description"></span>
        <br />
        <br />

        <label asp-for="Text"></label><br />
        <textarea asp-for="Text" style="width: 20rem; height: 5rem;"></textarea>
        <span asp-validation-for="Text"></span>

        <br />

        <div asp-validation-summary="All" class="text-danger" style="margin-top: 1rem;">
            <button type="submit">Update</button>
        </div>

    </form>
</div>