html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*NAVBAR*/
.navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 {
    display: flex;
    justify-content: center; /* centrerar horisontellt */
    align-items: center; /* centrerar vertikalt */
}

nav {
    /*    left: 9rem;*/
}

.box {
    flex: 1; /* alla tre får samma bredd */
}

.left, .middle, .right {
    display: flex;
    justify-content: center; /* centrerar horisontellt */
    align-items: center; /* centrerar vertikalt */
}

.container {
    display: flex;
    justify-content: center; /* centrerar horisontellt */
    align-items: center; /* centrerar vertikalt */
}

/*Recent posts menu*/
.recent-post-pinned {
    position: absolute; /* placerar den relativt till närmaste förälder med position: relative */
    top: var(--navbar-height, 100px); /* justera så den hamnar direkt under navbaren */
    right: 80px;
    width: 30rem;
    height: 50rem;
    background: #f2f2f2; /* bara för att se den */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Döljer den under t.ex. 1200px */
@media (max-width: 1600px) {
    .recent-post-pinned {
        display: none;
    }
}

.recent-post-pinned-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
