@{
    var userId = Context.Session.GetInt32("UserId");
    var userName = Context.Session.GetString("UserName");
    var count = ViewBag.PostCount;
}

<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <script>
        (function() {
          const savedTheme = localStorage.getItem("theme");
          if (savedTheme === "dark") {
            document.documentElement.classList.add("dark-mode");
          }
        })();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snackis</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Snackis.styles.css" asp-append-version="true" />
</head>
<body style="background-color: lightgray;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #acacac; border-bottom: 4px inset rgba(28,110,164,0.64);
border-radius: 0px 0px 20px 20px;">
            <div class="container">
                <div class="box left">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h3>Snackis</h3></a>

                </div>
                <div class="box middle">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-grow-1" style="align-items:center;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                            </li>
                            @if (Context.Session.GetInt32("UserId") == 0 || Context.Session.GetInt32("UserId") == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Register"><b>Register</b></a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Profile"><b>Profile</b></a>
                            </li>
                            @if (!string.IsNullOrEmpty(userName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Messages"><b>Messages</b></a>
                                </li>
                            }
                            @if (!string.IsNullOrWhiteSpace(userName) && Context.Session.GetInt32("IsAdmin") == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Admin"><b>Admin</b></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="box-right">
                    <label class="switch">
                        @* <input type="checkbox" id="theme-toggle">
                        <span class="slider"></span> *@
                    </label>

                    @if (string.IsNullOrEmpty(userName))
                    {
                        <a asp-controller="Member" asp-action="Login" class="btn btn-primary" style="color:white;">Sign In</a>
                    }
                    else
                    {
                        <a asp-controller="Member" asp-action="Login" class="btn btn-primary" style="color:white;">Sign Out</a>
                    }
                    <div id="stats">
                       @* HÄR SKALL LOGIK FÖR STATISTIK LIGGA *@
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-black footer text-muted">
        <div class="container">
            <b>&copy; 2025 - Snackis - <a asp-area="" asp-controller="Home" asp-action="Info">Info</a></b>
        </div>
    </footer>


    @* Toggle script för Darkmode och LightMode *@
    <script>
            const toggle = document.getElementById("theme-toggle");

        toggle.addEventListener("change", () => {
          if (toggle.checked) {
            document.body.classList.add("dark-mode");
            localStorage.setItem("theme", "dark");
          } else {
            document.body.classList.remove("dark-mode");
            localStorage.setItem("theme", "light");
          }
        });

                window.addEventListener("DOMContentLoaded", () => {
          const savedTheme = localStorage.getItem("theme");

          if (savedTheme === "dark") {
            document.body.classList.add("dark-mode");
            document.getElementById("theme-toggle").checked = true;
          }
        });

    </script>

    
    @* Script för Livechatts funktion *@
    <script>
        let connection = new signalR.HubConnectionBuilder()
                                    .withUrl("/chatHub").build();
        connection.on("ReceiveMessage", function (User, Message) {
            let encodedUser = $("<div />").text(user).html();
            let encodedMsg = $("<div />").text(message).html();
            $("#chatBox").append("<p><strong>" + encodedUser + "</strong>: " + encodedMsg + "</p>");
        });

        $("#send-btn").click(function () {
            let our_user = $("#username").val();
            let Message = $("#message").val();
            connection.invoke("Message", our_user, Message);
            $("#message").val("").focus();
        });


        connection.start().then(function () {
            console.log("Connected!");
        }).catch(function (err) {
            console.error(err.toString());
        });


    </script>

    <script>
        const dropdownButton = document.getElementById('platsDropdown');
        document.querySelectorAll('.dropdown-item').forEach(item => {
          item.addEventListener('click', function(e) {
            e.preventDefault();
            dropdownButton.textContent = this.textContent; // Ändra knappens text
            dropdownButton.dataset.value = this.dataset.value; // Spara valt värde
          });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
