@model Views
@{
	ViewData["Title"] = "Admin Page";
	// ViewBag.counter = 0;
}

<div>
	<p>CRUD for Category</p>
	<div>
		<button><a style="color: black; text-decoration: none;" asp-controller="Category" asp-action="CreateCategory">Create Category</a></button>
		<button><a style="color: darkred; text-decoration: none;" asp-controller="Category" asp-action="DeleteCategory">Delete Category</a></button>
		<button><a style="color: forestgreen; text-decoration: none;" asp-controller="Category" asp-action="UpdateCategory">Update Category</a></button>
	</div>
	<br />
	<br />
	<p>CRUD for SubCategory</p>
	<button><a style="color: black; text-decoration: none;" asp-controller="Category" asp-action="CreateSubCategory">Create SubCategory</a></button>
	<button><a style="color: darkred; text-decoration: none;" asp-controller="Category" asp-action="DeleteSubCategory">Delete SubCategory</a></button>
	<button><a style="color: forestgreen; text-decoration: none;" asp-controller="Category" asp-action="UpdateSubCategory">Update SubCategory</a></button>
	<br />
	<br />
	<br />
	<h5>Reports</h5>

	@if (Model.Posts != null)
	{
		@foreach (var post in Model.Posts)
		{
			@if (post.Reported == true)
			{
				<p>
					Post wich being reported:
					<a asp-controller="Post" asp-action="ReadPost" asp-route-id="@post.Id" style="margin-right: 1rem;">@post.Description</a>
					
					Total reports: @post.TotalReports
					
			
					<a asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id" style="margin-left: 2rem;">DELETE</a>

				</p>
			}
		}
	}

</div> 