@{
    ViewData["Title"] = "Admin Page";
}

<div>

    <button><a style="color: black; text-decoration: none;" asp-controller="Category" asp-action="CreateCategory">Create Category</a></button>
    <br />
    <br />
    <button><a style="color: black; text-decoration: none;" asp-controller="Category" asp-action="CreateSubCategory">Create SubCategory</a></button>
@*
    <form asp-controller="Category" asp-action="Create">

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />

        <br />
        <button type="submit"></button>
    </form>*@
</div> 