@model Member
@{
    ViewData["Title"] = "Register";
    
}
<h1></h1>

<div>
    <form asp-controller="Member" asp-action="Register">

        <label asp-for="FirstName"></label>
        <br />
        <input type="text" asp-for="FirstName"></input>
        <span asp-validation-for="FirstName"></span>
        <br />

        <label asp-for="LastName"></label>
        <br />
        <input type="text" asp-for="LastName"></input>
        <span asp-validation-for="LastName"></span>
        <br />

        <label asp-for="Birthday"></label>
        <br />
        <input type="text" asp-for="Birthday"></input>
        <span asp-validation-for="Birthday"></span>
        <br />

        <label asp-for="Email"></label>
        <br />
        <input type="text" asp-for="Email"></input>
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />

        <label asp-for="UserName"></label>
        <br />
        <input type="text" asp-for="UserName"></input>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <br />

        <label asp-for="Password"></label>
        <br />
        <input type="password" asp-for="Password"></input>
        <span asp-validation-for="Password"></span>
        <br />

        <br />
        <button type="submit">Create</button>
    </form>
</div>