@model Member
@{
    ViewData["Title"] = "Register";
    
}
<h1></h1>

<div>
    <form asp-controller="Member" asp-action="Register">

        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control"></input>
        <span asp-validation-for="FirstName"></span>

        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control"></input>
        <span asp-validation-for="LastName"></span>

        <label asp-for="Birthday"></label>
        <input type="text" asp-for="Birthday" class="form-control"></input>
        <span asp-validation-for="Birthday"></span>

        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control"></input>
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName" class="form-control"></input>
        <span asp-validation-for="UserName" class="text-danger"></span>

        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control"></input>
        <span asp-validation-for="Password"></span>

        <label asp-for="PasswordValidation"></label>
        <input type="password" asp-for="PasswordValidation" class="form-control"></input>
        <span asp-validation-for="PasswordValidation"></span>

        <br />
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>