@model Member
@{
    ViewData["Title"] = "Update Profile";
}
<div>
    <form asp-controller="Member" asp-action="Update">
        @* Hidden stuff *@
        <input type="hidden" asp-for="UserName"></input>
        <span asp-validation-for="UserName"></span>
        <input type="hidden" asp-for="Birthday"></input>
        <span asp-validation-for="Birthday"></span>
        <input type="hidden" asp-for="Email"></input>
        <span asp-validation-for="Email"></span>
        <input type="hidden" asp-for="Id"></input>
        <span asp-validation-for="Id"></span>
        <input type="hidden" asp-for="IsOwner"></input>
        <input type="hidden" asp-for="IsAdmin"></input>
        <input type="hidden" asp-for="RegisteryDate"></input>
        


        <label asp-for="FirstName"></label>
        <br />
        <input type="text" asp-for="FirstName"></input>
        <span asp-validation-for="FirstName"></span>
        <br />

        <label asp-for="LastName"></label>
        <br />
        <input type="text" asp-for="LastName"></input>
        <span asp-validation-for="LastName"></span>
        <br />


        <label asp-for="Password"></label>
        <br />
        <input type="password" asp-for="Password"></input>
        <span asp-validation-for="Password"></span>
        <br />
        <label asp-for="SecondPassword"></label>
        <br />
        <input type="password" asp-for="SecondPassword"></input>
        <span asp-validation-for="SecondPassword"></span>
        <br />


        <br />
        <div asp-validation-summary="All" class="text-danger" style="margin-top: 1rem;">
            <button type="submit">Update</button>
        </div>
    </form>
</div>